.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #afafaf;
  margin: 0 auto;
}

.new-game-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid;
  padding: 3rem;
  display: block;
}

.worm {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #000;
  translate: 6rem 20rem;
}

.food {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #fff;
  translate: 60rem 19rem;
}
